@model Products.API.ViewModels.ProductViewModel

    <form asp-action="UpdatePost" method="POST">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Preço</th>
                </tr>
            </thead>

            <tbody>

                @for (int counter = 0; counter < Model.Products.Count(); counter++)
                {
                <tr>
                    <td>@Html.HiddenFor(product => product.Products.ToList()[counter].Id, new { @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(product => product.Products.ToList()[counter].Name, new { @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(product => product.Products.ToList()[counter].Description)</td>
                    <td>@Html.TextBoxFor(product => product.Products.ToList()[counter].Price, new { @readonly = "readonly" })</td>
                </tr>
                }

            </tbody>
        </table>

        <div class="col">
            <input type="submit" class="btn btn-primary btn-lg" value="Update" />
        </div>
    </form>

