@model List<DI_NET_CORE.Services.IProducts>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model) 
        {
        <tr>
            <th>@product.Id</th>
            <td>@product.productName</td>
        </tr>
        }
    </tbody>
</table>

