@model Products.API.ViewModels.ProductViewModel
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products) 
        {
        <tr>
            <th>@product.Id</th>
            <td>@product.Name</td>
        </tr>
        }
    </tbody>
</table>

